<!-- This is 'cards.ejs' File of Connect - A EJS File containing the cards -->

<section class="card-items">
    <div class="cards">

        <div class="info info-1">
            <i class="fas fa-video"></i>
            <h5>Turn on video to make it more personal</h5>
            <p>Present video and audio when joining. Turn on video to better engage remote attendees.</p>
        </div>

        <div class="info info-2">
            <i class="fas fa-desktop"></i>
            <h5>Share content that’s at your fingertips and collaborate</h5>
            <p>Share your content and collaborate easily during your meeting</p>
        </div>
        
        <div class="info info-3">
            <i class="fas fa-sms"></i>
            <h5>Chat with attendees and friends</h5>
            <p>Discuss the content of the meeting via messages for more clarity.</p>
        </div>

    </div>
</section>