<!-- This is 'header.ejs' File of Connect - A EJS File containing the navigation bar -->

    <!-- This is the Body Section -->
    <body>

        <!-- This is the Header section of Connect -->
        <section>
            <header>
                <div class="part-1">
                    <img src="/images/logo.png" alt="Connect Logo">
                    <a href="/">
                        <h1>Connect<span>.</span></h1><br>
                    </a>
                </div>
                <div class="part-2">
                    <ul>
                        <li id="date-time" title="Today's Time and Date"></li>
                        <li title="Help and Support"><i class="fas fa-question-circle"></i></li>
                        <li title="Feedback"><i class="far fa-comment-alt"></i></li>
                        <li title="Mode"><i class="fas fa-moon"></i></li>
                    </ul>
                </div>
            </header>
        </section>