<!-- This is 'capacityFull.ejs' File of Connect - The Capacity Full Page -->

    <%- include('partials/layout') -%> 
    <link rel="stylesheet" href="/css/error.css">

    <body>
        <div class="container">
            <div class="part-1">
                <h1>Oops !</h1>
                <p class="error">The meeting you are trying to join has reached its capacity. Please try again later when someone will leave.</p>
                <a href="/joinRoom>"><button type="button" class="btn btn-danger">Try Again</button></a>
                <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
            </div>
            <div class="part-2">
                <img src="/images/image10.jpg" alt="">
            </div>
        </div>
    </body>