<!-- This is 'error.ejs' File of Connect - The Error Page -->

    <%- include('partials/layout') -%> 
    <link rel="stylesheet" href="/css/error.css">

    <body>
        <div class="container">
            <div class="part-1">
                <h1>Oops !</h1>
                <p>We can't seem to find the page you are looking for.</p>
                <h4>Error Code: 404</h4>
                <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
            </div>
            <div class="part-2">
                <img src="/images/error.png" alt="">
            </div>
        </div>
    </body>

</html>